.posts-list-enter {
  opacity: 0.01;
}

.posts-list-enter.posts-list-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.posts-list-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.posts-list-appear.posts-list-appear-active {
  opacity: 1;
}


.posts-list-leave {
  opacity: 1;
}

.posts-list-leave.posts-list-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
